#edit-account-section{
    min-height: 50vh;
    padding: 0;
}

#edit-account-form{
    width: 45em;
    margin: 2.5em auto;
    padding: 0;
    background-color: white;
    border-radius: .5em;
    border: .1em solid #79589f;
}

#edit-account-form fieldset{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 ;
    margin: 0;
    border: none;
}

fieldset legend{
    text-align: center;
}

#edit-account-form label{
    width: 37em;
    padding: 0;
    margin: 1em auto .4em auto;
}

#edit-account-form input{
    width: 44em;
    height: 3em;
    padding-left: 1em;
    margin: 0 auto;
    border-radius: .5em;
    border: .1em solid lightgray;
}

#edit-account-form input:hover{
    border: .1em solid #92aeff;
}

#edit-account-submit{
    display: block;
    font-size: 1em;
    width: 7.1em;
    height: 2.4em;
    margin: 2em auto;
    border-radius: .6em;
    border: none;
    color: white;
    background: linear-gradient(135deg,#ac8ece,#79589f);
}

/*Edit account confirmation box style begins here*/

#edit-account-success{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    z-index: 0;
    margin: auto;
    width: 50%;
    height: 50vh;
    top: 25%;
    left: 25%;
    color: white;
    text-align: center;
    border: none;
    box-shadow: .5em .8em 1em gray;
    background-color: #5f0085;
}

#edit-account-success button{
    display: block;
    margin: 1em auto 0 auto;
    width: 6em;
    height: 3em;    
    border-radius: .6em;
    border: none;
    color: #5f0085;
    background: white;
}

@media screen and (max-width: 770px){

    #edit-account-form{
        width: 80%;
        margin: 2.5em auto;
        padding: 0;
    }
    
    #edit-account-form fieldset{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    #edit-account-form label {
        width: 85%;
        
    }
    
    #edit-account-form input{
        width: 85%;
    }

    #edit-account-success{
        
        width: 90%;
        height: 27em;
        top: 23%;
        left: 5%;
        padding: 0 1.2em;
    }
}