#main-header{
    position: fixed;
    width: 100vw;
    height: 4.45em;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
    box-shadow: 0 .05em 1em gray;
    background-color: white;
}

#nav-burger{
    display: none;
}

#main-header nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#main-header nav > h2{
    margin-left: 1em;
    padding: 0;
    
}

.Link{
    text-decoration: none;
    color: #79589f;-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;;
}

#nav-links{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    padding: 0;
}

#nav-links li{
    font-size: 1.1em;
    width: 8em;
    padding: 0;
    margin: auto;
}

#nav-links *{
    list-style: none;
    text-decoration: none;
    color: black;
    color: #79589f;
}

@media screen and (max-width: 770px){


    #nav-burger{
        display: block;
        margin: .5em 0 0 1em;
        position: absolute;
        z-index: 4;
    }

    #main-header{
        top: 0;
        left: 0;
        z-index: 1;
    }

    #main-header nav > h2{
        position: absolute;
        right: 1.2em;
        margin: .6em 0 0 0;
    }

    #nav-links{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 101vw;
        height: 100vh;
        margin: 0;
        z-index: 2;
        background-color: white;
    }

    #nav-links li{
        text-align: center;
    }

    .display-nav{
        display: flex !important;
    }
}