#main-header{
    position: fixed;
    width: 100vw;
    height: 4.45em;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0 .1em 1em lightgray;
    background-color: white;
}

#nav-burger{
    display: none;
}

#main-header nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#main-header nav > h2{
    margin-left: 1em;
    padding: 0;
    
}

#nav-links{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    padding: 0;
}

#nav-links li{
    padding: 0;
    margin: auto;
}

@media screen and (max-width: 770px){


    #nav-burger{
        display: block;
        margin: .5em 0 0 1em;
        position: absolute;
        z-index: 4;
    }

    #main-header{
        position: absolute;
        z-index: 1;
    }

    #main-header nav > h2{
        position: absolute;
        right: .8em;
        margin: .6em 0 0 0;
    }

    #nav-links{
        display: none;
        position: absolute;
        top: -.1em;
        left: -.1em;
        flex-direction: column;
        width: 101vw;
        height: 100vh;
        margin: 0;
        z-index: 2;
        background-color: white;
    }

    .display-nav{
        display: flex !important;
    }
}