#login-section{
    padding: 0;
}

#login-form{
    width: 26em;
    padding: 0;
    margin: 15em auto 0 auto;
    background-color: white;
    border-radius: .4em;
}

#login-form fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: none;
}

#login-form p{
    text-align: center;
    margin-top: 2.1em;
    color: #79589f;
}

#login-form label{
    width: 80%;
    margin: 1.4em auto 0 auto;
    font-size: 1em;
}


#login-form input{
    width: 80%;
    height: 3.1em;
    margin: 0 auto;
    border-radius: .3em;
    padding-left: 1em;
    border: .1em solid lightgray;
}

#login-form input:hover{
    border: .1em solid #92aeff;
}

#login-submit{
    display: block;
    font-size: 1em;
    width: 7.1em;
    height: 2.4em;
    margin: 2em auto;
    border-radius: .6em;
    border: none;
    color: white;
    background: linear-gradient(135deg,#79589f, #ac8ece);
}

@media screen and (max-width: 770px){
    #login-form{
        width: 100%;
        margin: 15em auto 0 auto;
        background-color: white;
    }
}